.homePage{
    width: 100%;
    min-height: 100vh;
    background-color: $dark_bg;
    .search_box{
        width: 100%;
        text-align: center;
        input{
            width: 80%;
            margin: 1.5rem auto;
            padding: .5rem;
            font-family: "Poppins";
            font-size: 1rem;
            font-weight: 700;
            border-radius: 5px;
            background-color: $white;
            outline: none;
            border:2px solid black;
            box-shadow: 2px 1px 5px 2px rgba(2, 2, 2, 0.13);
            word-spacing: 2px;
        }
    }
    .list_of_movies{
       display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:550px){
    .list_of_movies{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}