*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: "Poppins";
}

@import "./partials/var";
@import "./partials/nav";
@import "./partials/home";
@import "./partials/card";
@import "./partials/create";